*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --main-color: #CAA8F5;
}
.home{
   background-image: url("../../assets/background.jpeg");
}
.body{
 
}
/* Reset de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container principal */
.home {
  width: 100%;
  min-height: 100vh;
    /* background-image: url("../../assets/background.jfif");
    background-size: cover;
    
    background: opacity(0.5); */
    
}

/* Header noir */
.header {
  /* background-color: black; */
  height: 100px; 
width: 100%;
  /* centrage vertical + horizontal */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: fixed;
  background: rgba(255, 255, 255, 0); /* semi-transparent */
  backdrop-filter: blur(10px);
  /* border-bottom: solid var(--main-color) 1px;; */
  border-radius: 5px;

}
.eft {
  font-size: 15px;
  color: #c9a8f55d;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 500ms;
  transition-property: color;
}

.eft:focus,
.eft:hover {
  transition-duration: 500ms;
  color: #222222aa;
  background: linear-gradient(0, #CAA8F5, #230c33 70%, #230c33 99%);
  background-clip: text;
  -webkit-background-clip: text;
}

.eft:focus:after,
.eft:hover:after {
  width: 100%;
  left: 0px;
}

.eft:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 0px;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #CAA8F5;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 500ms;
  transition-property: width, left;
}

.eft:focus:before,
.eft:hover:before {
  width: 100%;
  left: 0px;
}
hr{
    width: 40%;
    margin:30px 30px;
}
.eft:before {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 0px;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #0f0;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 500ms;
  transition-property: width, left;
  filter: blur(5px);
}
.homeSecond{
    height: 40vh;
    display: flex;
    justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
 
}

.logo img{
   width: 170px;
   height: auto;  
   margin: 20px 10px;   
   opacity: 0.65;       
}

/* Nav container */
.navContainer {
  width: 60%;
  height: 55%;
  background-color: black;
  max-width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}

/* Liste navigation */
.nav {
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/* Liens */
.nav li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-family: Arial, sans-serif;
  transition: 0.3s;
}
.nav li a h3{
  font-weight: 600;
}
/* Hover effet */
.nav li a:hover {
  color: var(--main-color);
}
/* From Uiverse.io by nikk7007 */ 
.btn {
 --color: var(--main-color);
 --color2: rgb(10, 25, 30);
 padding: 0.8em 1.75em;
 background-color: transparent;
 border-radius: 6px;
 border: .3px solid var(--color);
 transition: .5s;
 position: relative;
 overflow: hidden;
 cursor: pointer;
 z-index: 1;
 font-weight: 300;
 font-size: 12px;
 font-family: 'Roboto', 'Segoe UI', sans-serif;
 text-transform: uppercase;
 font-weight: 600;
 margin: 0 20px;
 color: var(--color);
}

.btn::after, .btn::before {
 content: '';
 display: block;
 height: 100%;
 width: 100%;
 transform: skew(90deg) translate(-50%, -50%);
 position: absolute;
 inset: 50%;
 left: 25%;
 z-index: -1;
 transition: .5s ease-out;
 background-color: var(--color);
}

.btn::before {
 top: -50%;
 left: -25%;
 transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::before {
 transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::after {
 transform: skew(45deg) translate(-50%, -50%);
}

.btn:hover {
 color: var(--color2);
}

.btn:active {
 filter: brightness(.7);
 transform: scale(.98);
}
.text{
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
  text-align: center;

}
.text h1 {
  font-size: 180px;
  text-shadow: 4px 6px 6px #050a0a;
  font-weight: bold;
  color: #ffffff97;
  text-align: center;
  margin: 0   150px;
  margin-top: 20px;
  font-family: poppins, sans-serif;
  letter-spacing: 5px;
}
.firstText{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}
.text h3{
  font-size: 20px;
  text-shadow: 4px 6px 6px #592e83;
  font-weight: bold;
  color: #ffffff9d;
  text-align: center;
  margin:20px 20px;
 
  font-family: poppins, sans-serif;
  width: 60%;
}
.body{
display: flex;
flex-direction: column;
}
.secondText{
  display: flex;
  justify-content: space-between;
}
.secondText h3{
  padding: 10px 10px;
  font-size: 30px;
  line-height: 1,5;
  letter-spacing: 2px;
}
.secondText img {
  width: 350px;
  height: auto;
  opacity: 0;
  transform: translateY(30px);

  animation: fadeUp 0.6s ease forwards,
             float 3s ease-in-out infinite 0.6s; /* delay float */
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-18px); }
  100% { transform: translateY(0); }
}
.secondSlide {
  min-height: 100vh;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  font-family: poppins, sans-serif;
  text-align: center;

background-color: #2c1841;   color: white;
}

/* Title */
.secondSlide h1 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2;
  max-width: 900px;
  margin-bottom: 20px;
  color: #CAA8F5;
}

/* Highlight */
.secondSlide h1 span {
 
color: #9984D4;
}

/* Subtitle */
.secondSlide h3 {
  font-size: 1.1rem;
  font-weight: 400;
  max-width: 700px;
  color: #cbd5f5;
  line-height: 1.6;
  padding: 10px;
}
.btn-shine {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  padding: 12px 48px;
  color: #fff;
  background: linear-gradient(to right, #9f9f9f 0, #fff 10%, #868686 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
}
@-moz-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@-webkit-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@-o-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
.homeCnt{
 display: flex;
  justify-content: space-between;
  width: 100%;
}
.leftCnt {
  background-color: #0000005d;
  padding: 20px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 20px;

}
.leftCnt img{
  width: 400px;
  height: auto;
   will-change: transform;
   position: absolute;
   top: 40%;
  
}
.rightCnt {
  background-color: #0000005d;
 
  width: 65%;
  display: flex;
    border-radius: 20px;

  justify-content: space-between;
}
.containerImg {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  justify-content: right;
}
.containerImg img{
  /* transform: translateY(500px); */
  position: relative;
  top: 70%;
 /* left: 25%; */
  will-change: transform;
}
.rightCntText{
  padding: 20px;
}
.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;

  border-radius: 100px;
  font-weight: 600;
  color: #1f387e;
  box-shadow: 0 0 0 2px #ffffff;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: #1f387e;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #c5e5e4;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #1f387e;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px greenyellow;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}
.rightBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.elemnts {
    display: flex;
    margin: 20px;

}
.elemnts h6:nth-child(1) {
  background-color: #230c33;
  padding: 10px 0;
  margin: 10px;
  border-radius: 10px;
   width: 90%;

}

.elemnts h6:nth-child(2) {
 background-color: #592e83;
padding: 10px 0;
  margin: 10px;
  border-radius: 10px;
   width: 90%;
}

.branding{
    background-color: #230c33;
 padding: 10px 0;
  margin: 10px    30px;
  border-radius: 10px;
   width: 50%;

}
.firstText section{
  margin-left: 150px;
}