.services {
  min-height: 100vh;
 
   background-image: url("../../assets/background2.jpeg");

}
.services-container{
opacity: 0;
  transform: translateX(100px);
  transition: all 1s ease;
  height: 100%;
  overflow: hidden;
}
.services-container.show{
  opacity: 1;
  transform: translateX(0);
}
.servicesHeader {
  height: 6rem;
  background-color: rgba(0, 0, 0, 0.317);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: poppins, sans-serif;
  font-weight: bold;
  font-size: 40px;
}
.servicesHeader h1 {
  font-size: 50px;
  margin-bottom: 50px;
}
.servicesHeader{
  opacity: 0;
  transform: translateY(100px);
  transition: all 1s ease;
}
.servicesHeader.show{
  opacity: 1;
  transform: translateY(0);
}
.servicesDes {
  font-family: poppins, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white;
  /* opacity: 0;
  transform: translateY(100px);
  transition: all 1s ease; */
  text-align: center;
}
.servicesDes h3{
  color: #CAA8F5;
}
.servicesDes.show{
  opacity: 1;
  transform: translateY(0);
}
.servicesFooter{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.servicesFooter-container{
  display: flex;
  gap: 20px;
  height: 50px;
  width: 60%;
  font-family: poppins, sans-serif;
  background-color: #c9a8f56c;
  justify-content: center;
  border-radius: 8px; 
  align-items: center;
}
.servicesFooter-container p{
  font-weight: 600;
}
.servicesFooter-container a{
  color: var(--main-color);
  font-weight: bold;
}