/* ici le design globale  */
body {
  cursor: none;
  background-color: black;
}
body {
  overflow-x: hidden;
}
/* * {
  outline: 1px solid red;
} */
html, body {
  max-width: 100%;
  
}
* {
  cursor: none !important;
}
/* center dot */
.cursor-dot {
  position: fixed;
  top: 0;
  left: 0;
  width: 6px;
  height: 6px;
  background: #CAA8F5;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 10000;
}

/* outer circle */
.cursor-ring {
  position: fixed;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  border: 2px solid #CAA8F5;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.15s ease-out;
  z-index: 9999;
}
@media (max-width: 600px) {
  .cursor-dot,.cursor-ring {
    display: none;
    
  }}
